@import "tailwindcss";

body {
    @apply bg-gray-50 text-gray-900;
    scroll-behavior: smooth;
}

/* Antique Olive Std - Compact Variant */
@font-face {
    font-family: 'Antique Olive Compact';
    src: url('fonts/Antique-Olive-Std-Compact_3864.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes linksScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    90% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.link-intro {
    animation-name: linksScale;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
